


{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>

  <body>

    <div class="container shadow-md mt-4 mb-4 p-5 " >
      <h3>Password Reset</h3>

      <p>Your password has been set.</p>
      <p>you may go ahead and log in</p>

      <a href="{% url 'my-login' %}">Login</a>
    </div>

  </body>
  </html>


