
{% extends "collection/navbar.html" %}
{% load static %}
{% load crispy_forms_tags%}


{% block content %}

    <div class="container shadow-md mt-4 mb-4 p-5 form-layout" >
      <h1 class="text-light" >Delete Account?</h1>
      <p>Are you sure you wanted to delete your account?</p>

      <form class="mb-4" action="" method="POST" autocomplete="off">
        {% csrf_token %}
  
          <button class="btn btn-danger btn-md w-100 btn-block p-3 mb-4" type="submit">Delete Account</button>
      </form>

    <a class="" style="color: orangered;"  href="{% url 'profile-management' %}">Return to profile management</a>

   
    </div>

  {% endblock %}









