
{% extends 'collection/index.html' %}

{% load crispy_forms_tags%}

{% block content %}

  <div class="container login-container">
    <h2 class="p-2 m-2 fs-2 text-center" >Login</h2>
    <form action="" method="POST" autocomplete="off">
      {% csrf_token %}

      <div class="mx-auto">
        <div class="text-slate" >
          {{LoginForm|crispy}}
        </div>
        <br>
        <button class="btn btn-secondary btn-md w-100 btn-block p-2 mb-4" type="submit">
        <i class="fa fa-user-plus"></i>
         Login!</button>
      </div>

    </form>
    <p class="text-center" >Not Registered?
      <a class="" type="button"  href="{% url 'register'%}" > Register </a>
    </p>
    <p class="text-center">Forgot Password?
      <a class="" type="button"  href="{% url ''%}" > Reset Password </a>
    </p>
      </div>
    </div>
  </div>

  {% endblock %}